html,
body {
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#section {
  font-family: "Abril Fatface", "Ariel", "Helvetica";
  font-size: 75px;
  text-transform: uppercase;
  line-height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section:nth-of-type(odd) {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

section:nth-of-type(even) {
  background-color: rgb(255, 255, 255);
  color: black;
}

.supers {
  text-align: center;
  padding: 35px;
}

p {
  margin: 35px;
}

#page1 {
  transform: translateZ(0px);
}

#threeCanvas {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
}
